/* prevent problems on different browswers*/

* {
    box-sizing: border-box;
}


body {
    font-family: "Lexend Deca", sans-serif;
    margin: 0;
}

/* header */
header {
    background-color: #442E59;
    padding: 1rem 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

header span {
    color: #eaeaea;
    font-size: 2.2rem;
    font-weight: 700;

}

/* header logo image */
.logo {
    height: 40px;
    width: auto;
}



/* small screen navigation */
@media only screen and (max-width: 800px) {

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: #27403B;
        text-decoration: none;
        border-bottom: solid 1px #27403B;
        background-color: #eaeaea;
        font-size: .8rem;
        font-weight: 600;
    }

    nav .active a {
        background-color: #395D56;
        color: #eaeaea;
        background-image: linear-gradient(to bottom, #395D56, #27403B);
    }

    nav a:hover {
        background-color: #27403B;
        background-image: none;
        color: #eaeaea;
    }

}

/* end small screens */



/* LARGE screen navigation */
@media only screen and (min-width: 801px) {


    nav {
        background-color: #eaeaea;
    }

    nav ul {
        margin: 0;
        padding: 0 10px;
        list-style-type: none;
        display: flex;
    }

    nav a {
        display: block;
        padding: .85rem 1rem;
        text-decoration: none;
        font-size: .8rem;
        color: #27403B;
        font-weight: 600;
    }

    nav li.active a {
        background-color: #395D56;
        color: #eaeaea;
        background-image: linear-gradient(to bottom, #395D56, #27403B);
    }

    nav li a:hover {
        background-color: #27403B;
        background-image: none;
        color: #eaeaea;
    }

}

/* end LARGE screens */


/* main body */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #442E59;
}

main h2 {
    color: #27403B;
    margin-bottom: .2rem;
}

main h3 {
    color: #442E59;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    background-color: #eaeaea;
    color: #000;
}

main dl dt {
    color: #442E59;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #333;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: rgba(68, 46, 89, 0.2);
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #333;
    width: 200px;
}

main a {
    color: #27403B;
    font-weight: 700;
    text-decoration: none;
}

main a:hover {
    color: #442E59;
}

/* hero image */
.hero {
    width: 100%;
    height: auto;
}


/* main images*/
figure.wrapped {
    margin: 0 0 0 2%;
    width: 50%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
    color: #442E59;
}


/* gallery images */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .75rem;
    color: #442E59;
}

div.gallery img {
    border-radius: 5px;
}

div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}




/* form */
.myForm fieldset {
    border: 1px solid #27403B;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.myForm legend {
    color: #27403B;
    font-size: 1rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label,
.myForm select,
.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm textarea {
    display: block;
}

.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm select,
.myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Lexend Deca", sans-serif;
    font-size: .8rem;
}

.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(68, 46, 89, 0.1);
}

.myForm [type=submit] {
    background-color: #27403B;
    color: #eaeaea;
    font-size: .8rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin: 1rem 0 0 1vw;
}


/* table */
table.conditions {
    width: 100%;
    border-collapse: collapse;
}
table.conditions th {
    background-color: #27403B;
    color: #eaeaea;
    padding: .7rem 2%;
    text-align: left;
    font-size: .9rem;
}
table.conditions td {
    color: #27403B;
    padding: .5rem 2%;
    font-size: .9rem;
}
table.conditions tr:nth-child(odd) {
    background-color: #eee;
}
table.conditions tr:hover {
    background-color: #ddd;
}


/* footer */
footer {
    clear: both;
    background-color: #D5C2E2;
    text-align: center;
    padding: 1rem;
    font-size: .8rem;
    color: #333;
}

footer p {
    margin: 0;
    letter-spacing: 2px;
}

header,
nav,
main,
footer {
    max-width: 64rem;
    margin: 0 auto;
}